#input-top-container {
    font-size: 10px; /* change value to scale */
    background-color: var(--coordinate100);
    margin: 0;
    display: grid;
    height: 100vh;
    place-items: center;
}

.c-form-container {
    position: relative;
    font-weight: 700;
    width: 20em;
    height: 6.25em;
    top: 0;
    transition: 0.4s;
}

.c-form {
    position: absolute;
    width: 20em;
    height: 6.25em;
    border-radius: 6.25em;
    background-color: var(--white);
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(var(--black), 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.c-form-welcome {
    color: var(--coordinate100);
    top: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    width: 20em;
    height: 6.25em;
    border-radius: 6.25em;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form-input,
.c-form-button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form-input,
.c-form-button-label {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form-input {
    color: var(--coordinate300);
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: var(--coordinate100);

        + .c-form-button-label {
            color: var(--white);

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form-button-label {
    color: var(--coordinate200);
    height: 100%;
    width: auto;
    
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
        text-align: center;
    }
}

.c-form-button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: var(--coordinate100);
}

@keyframes dropdown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.form-visible {
    .c-form {
        transition: 0.2s;
        width: 30em;
    }

    .c-form-welcome {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7);
    }

    .c-form-input,
    .c-form-button-label {
        transition: 0.2s 0.1s;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    
}

.c-form-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.dropdown-position {
    position: absolute;
    top: 3.125em;
    left: 50%;
    width: 30em;
    transform: translateX(-50%);
    z-index: 0;
    overflow: hidden;

    .dropdown {
        @keyframes dropdown {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        }

        padding: 3.125em 0;
        background-color: var(--white);
        animation: dropdown 0.4s ease;
        border-radius: 0 0 3.125em 3.125em;
        font-size: 1.4em;
        font-weight: 600;

        .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em 1em;
            cursor: pointer;
        }
    
        .dropdown-item:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .dropdown-text {
            display: flex;
            flex-direction: column; /* 아이콘과 텍스트가 세로로 쌓이도록 설정 */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 추가 */
            max-width: 16em; /* 필요에 따라 조정 가능 */
        }

        .dropdown-text li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .search-icon {
            flex-shrink: 0; /* 아이콘이 줄어들지 않도록 설정 */
        }
    }
}


// 모달 css
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.63);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &.modal-visible {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    & > div {
      width: 20em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: var(--white);
      border: 4px solid var(--coordinate100);
    }

    .address {
        font-weight: 500;
        font-size: 120%;
        margin: 15px 0;
    }

    .map-Link {
        color: var(--black);
        margin-top: 1.6em;
        
        &:hover {
            color: var(--coordinate100);
        }
    }

    .copy-span {
        &:hover{
            cursor: pointer;
            color: var(--coordinate100);
        }
    }

}
  
.modal-close {
    color: var(--coordinate100);
    line-height: 50px;
    font-size: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

    &:hover {
        color: var(--black);
        cursor: pointer;
    }
}

.modal-window {
    & > div {
        border-radius: 1em;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 1em;
}
