//Colours
$green: #2ecc71;
$red: #e74c3c;

#main-top-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  position: absolute;
}


.kr-map {
  width: 300px;
}
.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 1s ease-in-out;
  z-index: 1000;
}

.circle.red {
  background-color: red;
}

.circle.green {
  background-color: green;
}

// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 5em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &.red {
    border: 2px solid $red;
    color: $red;
  }

  &.green {
    border: 2px solid $green;
    color: $green;
  }
  
  &.red:hover {
    box-shadow: 0 0 40px 40px $red inset;
  }

  &.green:hover {
    box-shadow: 0 0 40px 40px $green inset;
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}